
<div class="box p-3">
    <div class="btn-group">
        <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            下载参数
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <a class="dropdown-item" href="#" onclick="showAss('about');">写清除错误标志</a>
            <a class="dropdown-item" href="#">写上报时间</a>
            <a class="dropdown-item" href="#">写几点同步数据</a>
            <a class="dropdown-item" href="#">写调价</a>
            <a class="dropdown-item" href="#">写阀门设置</a>
            <a class="dropdown-item" href="#">写可透支报警参数</a>
            <a class="dropdown-item" href="#">写购买次数</a>
            <a class="dropdown-item" href="#">写强磁报警参数</a>
            <a class="dropdown-item" href="#">写最大流报警参数</a>
            <a class="dropdown-item" href="#">写解除强制状态</a>
            <a class="dropdown-item" href="#">写表长时间无通讯关阀参数</a>
            <a class="dropdown-item" href="#">远程升级</a>
        </div>
    </div>
    <div class="btn-group">
        <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            读取参数
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
            <a class="dropdown-item" href="#">读出日冻结参数</a>
            <a class="dropdown-item" href="#">读表机电同步</a>
            <a class="dropdown-item" href="#">读表月固定上报时间点</a>
            <a class="dropdown-item" href="#">读调价</a>
            <a class="dropdown-item" href="#">读取充值</a>
            <a class="dropdown-item" href="#">读可透支参数</a>
            <a class="dropdown-item" href="#">读取报警金额</a>
            <a class="dropdown-item" href="#">读取强磁报警参数</a>
            <a class="dropdown-item" href="#">读取最大流报警参数</a>
            <a class="dropdown-item" href="#">读取表内剩余金额</a>
        </div>
    </div>
</div>
@Html.Partial("~/Views/Home/About.cshtml")
<script type="text/javascript">
    $(function () {
        $("#about").hide();
        
    })
    function showAss (name) {
        $("#" + name).show();
    }
</script>
