<script type="text/javascript">
    var wHeigth = $(window).height();
    var height = wHeigth - 170;

</script>
<div class="ca">
    <h1>欢迎!</h1>
    <div>这个消息来自 Home 控制器下的 Index 的视图文件 index.cshtml </div>
    <div>这个消息来自 Home 控制器下的 Index 的视图文件 index.cshtml </div>
    <div>这个消息来自 Home 控制器下的 Index 的视图文件 index.cshtml </div>
    <div>这个消息来自 Home 控制器下的 Index 的视图文件 index.cshtml </div>
    <div>这个消息来自 Home 控制器下的 Index 的视图文件 index.cshtml </div>
</div>